#save{
  display: none;
  margin: 5px 10px 10px;
}
#status {
  position: absolute;
  padding: 5px;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.success{
  background: #B6D96C;
}
.error{
  background: #ffc5cf; 
}
#save {	
  display: none;
  margin: 5px 10px 10px;		
  outline: none;
  cursor: pointer;	
  text-align: center;
  text-decoration: none;
  font: 12px/100% Arial, Helvetica, sans-serif;
  font-weight:700;	
  padding: 5px 10px;	
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  border-radius: 5px;	
  color: #606060;
  border: solid 1px #b7b7b7;	
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
  background: -moz-linear-gradient(top,  #fff,  #ededed);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}	
	
#save:hover {
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
  background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.editable {
  display: inline-block;
}